body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  line-height: 1.5;
  background-color: bisque;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-size: 24px;
  color: #b2386f;
}

p{
  font-size: 18px; 
  color:#010700;
}
